{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>User creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-success col-md-2 col-sm-6" />
        {{ form_end(form) }}
        <br>
        <br>
        <ul class="ul-style">
            <li>
                <a class="btn btn-default" href="{{ path('user_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
